
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout - Nav.cshtml";
}
<br/>
<h2 style="color:whitesmoke;"><u>System Message</u></h2><br/>
<h3 style="color:whitesmoke;">@ViewBag.Message</h3>


