

@model  Interes.Models.MenuData
@{
    Layout = null;

}
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="font-size:20px;color:red;">

                        <li>&nbsp;</li>
                        <li>
                            <div class="DivForButton">
                                <a href="/Home/HIW" class="btn  btn-md" style="font-weight:bold; font-size:20px;color:darkorange;">How It Works</a>
                            </div>
                        </li>
                        <li>&nbsp;</li>
                        <li>
                            <div class="DivForButton">
                                <a href="/Menu/Menu" id="PickDish" class="btn btn-md" style="font-weight:bold; font-size:20px;color:darkorange;">Menu</a>
                            </div>
                        </li>
                        <li>&nbsp;</li>
                        <li>
                            <div class="DivForButton">
                                <a href="/Checkout/OrderDetails" class="btn btn-md" style="font-weight:bold; font-size:20px;color:darkorange;">Checkout</a>
                            </div>
                        </li>


                        @{
                            if (Model.IsAdmin)
                            {
                                <li>&nbsp;</li>
                                <li>
                                    <div class="DivForButton">
                                        <a href="/Login/Admin" class="btn btn-md" style="font-weight:bold; font-size:20px;color:darkorange;">Admin Page</a>
                                    </div>
                                </li>
                                <li>&nbsp;</li>
                                <li>
                                    <div class="DivForButton"><a href="/Login/AdminSignOut" class="btn btn-md" style="font-weight:bold; font-size:20px;color:darkorange;">Sign Out</a></div>
                                </li>
                            }
                            else if (string.IsNullOrEmpty(Model.Customer[1]))
                            {
                                <li>&nbsp;</li>
                                <li>
                                    <div class="DivForButton"><a href="/Login/login" class="btn btn-md" style="font-weight:bold; font-size:20px;color:darkorange;">Sign In</a></div>
                                </li>
                                <li>&nbsp;</li>
                                <li>
                                    <div class="DivForButton"><a href="/Login/SignUp" class="btn btn-md" style="font-weight:bold; font-size:20px;color:darkorange;">Sign Up</a></div>
                                </li>
                            }
                            else
                            {
                                <li>&nbsp;</li>
                                <li>
                                    <a href="/Login/CustPage" class="btn btn-md" style="font-weight:bold; font-size:20px;color:orangered; border:none;">@Model.Customer[1] @Model.Customer[2]</a>
                                </li>
                                <li>&nbsp;</li>
                                <li>
                                    <a href="/Login/Logout" class="btn btn-md" style="font-weight:bold; font-size:20px;color:orangered; border:none;">Logout</a>
                                </li>
                            }
                        }
                        <li>
                            <div class="DivForElement" style=" border:none;">
                                <a href="/Menu/ShowBasket" class="btn" style="padding-top:0.2em; border:none;">
                                    <img src="../Media/CART/SC_Orange.png" width="50" height="36" ; style=" position:relative;" />&nbsp;&nbsp;&nbsp;<span id="CartItems" style="position:relative; top:0.2em; color:whitesmoke; font-size:1.8em;">@Model.bsg.ItemsTotal().ToString()</span>
                                    &nbsp;&nbsp;<span style="position:relative; top:0.2em; color:darkorange; font-size:1.8em;">Items</span>
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </body>